.App {
  text-align: center;
}

:root {
  --blue: #3A86FF;
  --orange: #FB5607;
  --yellow: #FFBE0B;
  --pink: #ff006e;
  --purple: #8338ec;
  --black: #010101;
}

/* body {
    font-family: "Bradley Hand", sans-serif;
    background-color: var(--yellow);
} */

.max-container {
  max-width: 1200px;
  margin: auto;
}

input {
  border-radius: 5px;
  height: 2.3rem;
  /* border: 1px solid grey; */
}

a {
  text-decoration: none;
  font-weight: bold;
  /* color: var(--orange); */
}

p {
  color: white;
}

/* h3 {
    color: var(--yellow);
} */

