.App {
  text-align: center;
}

:root {
  --blue: #3A86FF;
  --orange: #FB5607;
  --yellow: #FFBE0B;
  --pink: #ff006e;
  --purple: #8338ec;
  --black: #010101;
}

body {
  background-color: var(--black);
}

h1 {
  color: var(--blue);
}