/* -----------------------------------------
Home and Study group - frens selection
-------------------------------------------- */
.user-account-info {
    border-bottom: 2px solid var(--black);
    width: 80%;
    margin: 0 auto;
}
